/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap";

 body {
     background-color: #fafafa;
     font-size: 14px;
     color: #262626;
 }

 .core-sprite {
    background-image: url(/assets/core-sprite-2.png);
    background-size: 405px 379px;
    background-repeat: no-repeat;
 }

 .navbar-brand {
     background-position: -176px 0;
     height: 35px;
     width: 176px;
 }

 .hide-text {
     display: block;
     overflow: hidden;
     text-indent: 110%;
     white-space: nowrap;
 }

 .explore-icon {
    background-position: -50px -355px;
    height: 24px;
    width: 24px;
 }

.notification-icon {
    background-position: -353px -298px;
    height: 24px;
    width: 24px;
}

.profile-icon {
    background-position: -388px -176px;
    height: 24px;
    width: 24px;
}
